.custom-modal-style{
    min-width: 500px;
}

.custom-modal-full-width{
    width: fit-content !important;
}
.custom-modal-full-width>div{
    width: 100%;
    height: 100%;
}
.custom-modal-full-width .modal-body{

}

@media (min-width: 576px){
    .custom-modal-full-width {
        max-width: fit-content !important;
    }
}
@media (min-width: 992px){
    .custom-modal-full-width {
        max-width: fit-content !important;
    }
}


.video-preview-class{
    background-color: black;
    width: 100%;
    height: 100%;
    position: relative;
}