/* Scrollbar styles start*/
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px #dddcdc;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #c1c1c1;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
.side-navbar ul.list-unstyled {
  margin-right: 0px;
}

/* Scrollbar styles end*/
body {
  font-size: 0.9rem !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: normal;
}
/* Navbar section css start */
nav.navbar .nav-link.logout i {
  margin-left: 0px;
}
nav.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 0px;
  padding-bottom: 0px;
}
.d-none {
  display: block !important;
}
.navbar .container-fluid {
  padding-left: 0;
}
.page-content.d-flex.align-items-stretch {
  margin-top: 47px;
}
nav.navbar .nav-link span.badge-corner {
  top: 2px;
  right: 4px;
  font-size: 0.6em;
}

nav.navbar .badge {
  width: 15px;
  height: 15px;
  line-height: 14px;
}
input.form-control.navseacrh {
  margin-top: -48px;
  height: 48px;
  border-right: 1px solid #a1a1a2 !important;
  width: 380px;
  padding-left: 60px;
  color: #a1a1a2;
  border: none;
}
ul.nav-menu li a i {
  color: #a1a1a2;
}
ul.nav-menu li a:hover i {
  color: #fff;
}
.brand-text.d-none.d-lg-inline-block a {
  width: auto;
  display: inline;
}
.brand-text form.navbar-form.navbar-left {
  margin-left: 110px;
}
form.navbar-form.navbar-left i {
  position: absolute;
  left: 140px;
  top: 17px;
  color: #a1a1a2;
}
/* Navbar section css end */

/* sidebar section css start */
nav.side-navbar.shrinked .sidebar-header .title {
  display: block;
}
nav.side-navbar .title h1 {
  width: 209px;
  font-weight: normal;
  width: 100%;
}
nav.side-navbar .title h1 img {
  width: 30px;
  float: right;
  margin-top: -3px;
  margin-right: 0.5rem;
}
nav.side-navbar {
  position: absolute;
  height: 100%;
}
.content-inner {
  position: fixed;
  right: 0;
  overflow: auto;
  height: 100%;
  z-index: 9;
}
footer.main-footer {
  position: initial !important;
  bottom: 0;
  width: 100% !important;
}
.content-inner {
  padding-bottom: 45px;
}
nav.side-navbar .sidebar-header {
  padding-bottom: 15px;
}
.side-navbar ul.list-unstyled {
  overflow: auto;
  height: 100%;
  padding-top: 0;
  margin-bottom: 0;
  padding-right: 5px;
  background: white;
}
nav.side-navbar ul li.active > a {
  background: #eeeeee;
  color: #000000;
  border-left: 4px solid #d8d9da;
}
nav.side-navbar ul li a {
  padding: 7px 15px;
}
nav.side-navbar ul li a:hover {
  background: #eeeeee;
  border-left: 4px solid #d8d9da;
  color: #000;
}
nav.side-navbar ul li.active > a:hover {
  background: #eeeeee;
}
nav.side-navbar .title {
  margin-left: 4px;
  width: 100%;
}
nav.side-navbar a {
  width: 100%;
}
nav.side-navbar ul li a span {
  width: 35px;
  text-align: left;
  font-size: 12px;
  color: #bcbcbc;
}
nav.side-navbar a i {
  font-size: 1.4em;
  margin-right: 10px;
  vertical-align: middle;
}
a#toggle-btn {
  position: absolute;
  left: 15px;
  top: 55px;
}
nav.navbar .menu-btn span {
  background: #000;
}
nav.navbar .menu-btn span:nth-of-type(2)::before,
nav.navbar .menu-btn span:nth-of-type(2)::after {
  content: "";
  background: #000;
}
nav.side-navbar.shrinked ul li.active > a i {
  color: #000;
}
nav.side-navbar.shrinked ul li.active > a {
  color: #000;
}
/* sidebar section css end */

/* Login page css start */
input.btn.btn-info.btn-md.passcancel {
  position: absolute;
  right: 35px;
}
#login .container #login-row #login-column #login-box {
  margin-top: 80px;
  margin-left: auto !important;
  margin-right: auto;
  max-width: 400px;
  border: 1px solid #1d1d1b;
  background-color: #1d1d1b;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 70px 20px !important;
  padding-bottom: 79px !important;
  display: flow-root;
}
.form-group.password_div {
  margin-top: 2.5rem;
}
h2.forgot-head {
  color: #ffffff;
  margin-bottom: 1.5rem;
}
img.login-logo {
  width: 35%;
  text-align: center;
  margin: auto;
  display: block;
  margin-bottom: 30px;
}
.form-control {
  color: #495057;
  background-color: #fff0;
  background-clip: padding-box;
  border: 2px solid #7c6cff;
  border-radius: 0;
  padding: 0.375rem 1rem;
}
.text-infoss {
  color: #ffffff !important;
  text-align: center;
  display: block;
  font-size: 13px;
  text-decoration: underline;
}
#login .btn-info {
  color: #fff;
  background-color: #7c6cff;
  border-color: #7c6cff;
  border-radius: 0px;
  width: 120px;
  text-align: left;
  padding: 0.375rem 1.1rem;
  float: left;
}
#login i {
    margin-left: -250px;
    margin-top: 8px;
    color: #fff;
    font-size: 21px;
    vertical-align: middle;
}
#login-form a:hover {
  color: #1d1d1b;
  text-decoration: underline;
}
.loginpage {
  overflow: hidden;
  background: #000000;
}
.goLoginMsg {
  padding: 70px 20px !important;
  padding-bottom: 79px !important;
  display: flow-root;
}
.goLoginMsg p {color:#fff;}
.goLoginMsg .btn-info {text-align: center!important;margin: auto;float: none!important;margin-top: 15px;} 
/* Login page css end */

/* Dashboard page css start */
.modal {
  top: 150px;
}
.breadcrumb li a {
  color: #aab2b4;
}
.card-body .cappadd2 h5 {
  font-size: 0.9rem;
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.page-header .container-fluid {
  padding-left: 50px;
}
.uploadpage section.tables .upload-bd-se {
  padding: 0 30px;
}
input#urlUpload {
  display: none;
}
.breadcrumb-holder.container-fluid {
  padding-left: 50px !important;
  padding: 11px 0 !important;
}
.main-footer .container-fluid {
  padding: 0 30px !important;
}
.dashboardsty {
  background: #eeeeee;
}
.dashboardsty section.tables {
  background: #eeeeee;
  margin-bottom: 40px;
  overflow: overlay;
    height: 100%;
    z-index: 0;
    padding-bottom: 0;
}
.page-header {
  background: #eeeeee;
}
.breadcrumb-holder {
  background: #eeeeee;
}
.upload .breadcrumb-holder {
  background: #eeeeee;
  border-bottom: 1px solid #d8d9da;
}
.tab-content {
  margin: 0 21px;
}
.secund-menu-button {
  text-align: right;
}
input.SYNC {
  background: #d8d9da;
  border: 1px solid #d8d9da;
  color: #000;
  padding: 5.2px 24.5px !important;
  border-radius: 0px;
  font-weight: normal;
  cursor: pointer;
  margin-right: 24px;
}
input.UPLOAD {
  background: #796aee;
  border: 1px solid #796aee;
  color: #ffffff;
  padding: 5px 25px;
  border-radius: 0px;
  font-weight: normal;
  cursor: pointer;
}
h2.no-margin-bottom {
  display: inline-block;
  float: left;
  margin-top: 11px;
  font-weight: normal;
  font-size: 1.1rem;
}
.secund-menu-listview {
  text-align: right;
  display: initial;
  float: right;
  margin-top: -40px;
}
.secund-menu-listview ul.nav.nav-pills li {
  color: #ababab !important;
  font-size: 13px !important;
  padding: 10px 10px 10px 10px !important;
  cursor: pointer;
  float: left;
  display: inherit;
}
.secund-menu-listview li i {
  color: #000;
  font-size: 16px;
  vertical-align: middle;
  margin-right: 8.5px;
  margin-top: 2px;
}
.logo-menu {
  width: 110px;
  background: #796aee;
  height: 45px;
}
div.tab-pane {
  padding: inherit;
}
.nav-pills a.nav-link {
  color: #aaa;
  font-weight: 300;
  padding-left: 0;
  padding-right: 2rem;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #000000;
  background-color: #796aee00;
  font-weight: normal;
}
.nav-pills .nav-link.active::before {
  border-bottom: 2px solid #796aee;
  border-radius: 0px;
}
.card-body .title {
  color: grey !important;
  font-size: 0.9rem !important;
  margin-bottom: 5px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-body .cappadd2 {
  padding: 10px 15px;
}
.card-body .cappadd-bot {
  margin: 5px 0 !important;
}

.card-close {
  position: absolute;
  bottom: 13px;
  right: 12px;
  top: auto;
}
header.page-header {
  padding: 20.5px 0 !important;
}
section.tables.list-view {
  padding-top: 50px !important;
}
.ReactModal__Content.ReactModal__Content--after-open {
  max-width: 95%;
  width: 95%;
}
.card-body {
  padding: 0;
}
.card {
  margin-bottom: 30px;
  /*-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
  box-shadow: none;
}
.card-close .dropdown-menu a i {
  width: 15px;
  text-align: left;
  font-size: 15px;
}
.fa.fa-arrows {
  font-family: FontAwesome;
}
.card-close .dropdown-toggle {
  color: #796aee !important;
}

.cardss {
  margin-bottom: 30px;
  box-shadow: none;
}

.cardss {
  background-color: #fff;
  border: 0 solid #eee;
  border-radius: 0;
}

.cardss {
  position: relative;
}
/* Dashboard page css end */

/* modal popup css start */
.modal-title {
  width: 100%;
  color: #000;
}
.close:hover {
  opacity: 1;
  transform: rotate(90deg);
}
.close {
    transition: transform 0.25s, opacity 0.25s;
    font-size: 34px !important;
    font-family: serif;
    line-height: 30px;
    color: #796AEE;
    opacity: 1;
    margin-right: 2px;
}
h6.text-center.mb-4.text-muted.spaceHover {
  margin-top: 20px;
}
.modal-btn {
  background: #796aee;
  border: 1px solid #796aee;
  border-radius: 0;
}
/* modal popup css end */

/* Upload page css start */
.uploadpage section.tables {
  background: #eeeeee;
  padding-top: 40px !important;
}
.uploadpage .text-muted {
  color: #a3a5ac !important;
}
.uploadpage {
  background: #eeeeee;
}
.material-icons {
  transition: transform 0.25s, opacity 0.25s;
  font-size: 33px;
  font-family: serif;
  line-height: 1;
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}
.material-icons:hover {
  transition: transform 0.25s, opacity 0.25s;
}
.uload-close {
  position: absolute;
  right: 16px !important;
  top: 19px !important;
}
.breadcrumb {
  position: initial;
  background: #eee;
}
.file-upload input[type="file"] {
  display: none;
}
.custom-file-input {
  opacity: 1;
  border: none;
  padding: 0 21px;
  border-bottom: 2px solid #796aee;
  font-size: 13px;
  z-index: 0;
  height: 36px;
}
.upbtnfile {
  background: #d8d9da;
  border: 1px solid #d8d9da;
  color: #767782;
}
section.tables {
  background: #eee;
  margin-bottom: 30px;
}
label.file-upload.btn.btn-primary.btn-block.rounded-pill.shadow {
  border-radius: 0px !important;
  margin: auto;
  width: 59%;
  box-shadow: none !important;
  font-size: 0.9rem;
  text-transform: uppercase;
  cursor: pointer;
}
.uploadiconsty {
  background: #fff;
  border-radius: 100% !important;
  width: 110px;
  height: 110px;
}
.breadcrumb li.breadcrumb-item {
  color: #000;
}
html {
  background: black;
}
/* Upload page css end */
.breadcrumb-holder .nav-pills li {
  padding-left: 0 !important;
  padding: 0.45rem 2rem;
  color: #ababab;
  font-weight: 300;
  font-size: 0.9rem !important;
  font-weight: 400;
}
.card-body video {
  width: 100%;
  height: 134px;
  display: block;
  object-fit: fill;
}
.card-body a {
  width: 100%;
  height: 110px;
}
.card-body img {
  width: 100%;
  height: 134px;
  display: block;
  object-fit: cover;
}
.breadcrumb-holder .nav-pills li.active {
  color: #000;
}
.breadcrumb-holder .nav-pills li:hover {
  color: #000;
  cursor: pointer;
}
input#fileUpload {
  text-transform: uppercase;
  background: no-repeat;
  border: navajowhite;
  color: #fff;
}
.content-inner {
  background-color: #eeeeee;
}
i.fa.fa-gear {
  color: #796aee !important;
}
.card-close {
  position: absolute;
  bottom: 6px;
  right: 12px;
  top: auto;
}
.card-close .dropdown-menu a {
  color: #999 !important;
  height: 27px;
}

/* Modify CSS On DashBoard and uploaing page */
img.loading_Img {
  width: 60px;
}
span.spanremove {
  float: right;
  font-size: 18px;
}
.video-container video {
  width: 100%;
  height: 450px;
  object-fit: cover;
}
.previewImg {
  width: 100%;
  height: 450px;
  object-fit: cover;
}
.Loader {
  text-align: center;
}
.select-box {
  width: 92%;
  margin: auto;
  margin-top: 22px;
  margin-bottom: 15px;
}
.cappadd-bot i.fa.fa-gear {
  font-size: 16px !important;
}
#dropdown-basic i.fa.fa-ellipsis-v {
  font-size: 17px;
}
ul.col-md-12.fileUploadSpace {
  margin-top: 15px;
}
.ellipsisdrop .ellipsisnn .dropdown-menu.show hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  margin-left: 15px;
  margin-right: 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.ellipsisdrop .ellipsisnn .dropdown-menu.show {
  right: 4px !important;
  top: 0px !important;
  left: auto !important;
}
.btn:focus, .btn.focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.modal-header .close {
  padding: 0rem 0rem !important;
  position: absolute;
  right: 30px;
  margin-top: 0px !important;
  opacity: 1;
}
a#toggle-btn {
  position: absolute;
  left: 15px;
  top: 55px;
}
img.thumbimglogo {
  background-color: #d8d9da;
  object-fit: fill;
}
.kJdJTV {padding: 50px 50px;padding-bottom: 85px;height: 100%;}
header.sc-kAzzGY.gXlqCi.rdt_TableHeader {display: none;}
.sc-bwzfXH.gXdTHx.rdt_TableHead {background: #c4c4c4;}
.ftSrFl:first-of-type {padding-left: calc(26px / 2) !important;}
.iMLKlc:first-of-type {padding-left: calc(26px / 2) !important;}
.sc-gZMcBi.bUtpgR.rdt_TableRow {background: #e2e2e2;}
nav .navbar-holder ul li i.fa.fa-question {font-size: 18px;}
nav .navbar-holder ul li i.fa.fa-user {font-size: 17px;}