/* Scrollbar styles start*/
::-webkit-scrollbar {
width: 5px;
height: 5px;
}

::-webkit-scrollbar-track {
box-shadow: inset 0 0 10px #dddcdc;
border-radius: 10px;
}

::-webkit-scrollbar-thumb {
border-radius: 10px;
background: #c1c1c1; 
box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.side-navbar ul.list-unstyled {
    margin-right: 4px;
}
/* Scrollbar styles end*/
body{font-size: .9rem !important;}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: normal;
}
/* Navbar section css start */
nav.navbar .nav-link.logout i{margin-left: 0px;}
nav.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 0px;
    padding-bottom: 0px;
}
.d-none {
    display: block!important;
}
.navbar .container-fluid {
    padding-left: 0;
}
.page-content.d-flex.align-items-stretch {
    margin-top: 47px;
}
nav.navbar .nav-link span.badge-corner {
    top: 2px;
    right: 4px;
    font-size: 0.6em;
}

nav.navbar .badge {
    width: 15px;
    height: 15px;
    line-height: 14px;
}
input.form-control.navseacrh {
    margin-top: -48px;
    height: 48px;
    border-right: 1px solid #a1a1a2 !important;
    width: 380px;
    padding-left: 95px;
    color: #a1a1a2;
    border: none;
}   
ul.nav-menu li a i {
    color: #a1a1a2;
}
ul.nav-menu li a:hover i {
    color: #fff;
}
form.navbar-form.navbar-left i {
    position: absolute;
    left: 70px;
    top: 18px;
    color: #a1a1a2;
}
/* Navbar section css end */

/* sidebar section css start */
nav.side-navbar.shrinked .sidebar-header .title {
    display: block;
}
nav.side-navbar .title h1 {
    width: 209px;
    font-weight: normal;
}
nav.side-navbar .title h1 img {
    width: 30px;
    float: right;
    margin-top: -3px;
}
nav.side-navbar {
    position: fixed;
}
.content-inner {
    position: fixed;
    right: 0;
    overflow: auto;
    height: 100%;
}
footer.main-footer {
    position: fixed;
    bottom: 0;
    width: inherit;
}
.content-inner {
    padding-bottom: 47px !important;
}
nav.side-navbar .sidebar-header {
    padding-bottom: 15px;
}
.side-navbar ul.list-unstyled {
    overflow: auto;
    height: 537px;
    padding-top: 0;
    margin-bottom: 0;
    padding-right: 5px;
}
nav.side-navbar ul li.active > a {
    background: #eeeeee;
    color: #000000;
    border-left: 4px solid #d8d9da;
}
nav.side-navbar ul li a {
    padding: 7px 15px;
}
nav.side-navbar ul li a:hover {
    background: #eeeeee;
    border-left: 4px solid #d8d9da;
    color: #000;
}
nav.side-navbar ul li.active > a:hover {
    background: #eeeeee;
}
nav.side-navbar .title {
    margin-left: 4px;
}
nav.side-navbar ul li a span {
    width: 35px;
    text-align: left;
    font-size: 12px;
    color: #bcbcbc;
}
nav.side-navbar a i {
    font-size: 1.4em;
    margin-right: 10px;
    vertical-align: middle;
}
a#toggle-btn {
    position: absolute;
    left: 15px;
    top: 55px;
}
nav.navbar .menu-btn span {
    background: #000;
}
nav.navbar .menu-btn span:nth-of-type(2)::before, nav.navbar .menu-btn span:nth-of-type(2)::after {
    content: '';
    background: #000;
}
nav.side-navbar.shrinked ul li.active > a i {
    color: #000;
}
nav.side-navbar.shrinked ul li.active > a {
    color: #000;
}
/* sidebar section css end */

/* Login page css start */
#login .container #login-row #login-column #login-box {
    margin-top: 80px;
    margin-left: auto !important;
    margin-right: auto;
    max-width: 400px;
    border: 1px solid #1d1d1b;
    background-color: #1d1d1b;
}
#login .container #login-row #login-column #login-box #login-form {
    padding: 70px 20px;
}
img.login-logo {
    width: 35%;
    text-align: center;
    margin: auto;
    display: block;
    margin-bottom: 30px;
}
.form-control {
    color: #495057;
    background-color: #fff0;
    background-clip: padding-box;
    border: 2px solid #7c6cff;
    border-radius: 0;
    padding: .375rem 1rem;
}
.text-infoss {
    color: #ffffff!important;
    text-align: center;
    display: block;
    font-size: 13px;
    text-decoration: underline;
}
#login .btn-info {
    color: #fff;
    background-color: #7c6cff;
    border-color: #7c6cff;
    border-radius: 0px;
    width: 120px;
    text-align: left;
    padding: .375rem 1.1rem;
}
#login a i {
    margin-left: -35px;
    color: #fff;
    font-size: 21px;
    vertical-align: middle;
}
#login-form a:hover {
    color: #1d1d1b;
    text-decoration: underline;
}
.loginpage{overflow:hidden; background: #000000;}
/* Login page css end */

/* Dashboard page css start */
.modal {
    top: 150px;
}
.breadcrumb li a {
    color: #aab2b4;
}
.card-body .cappadd h5 {
    font-size: .9rem;
}
.page-header .container-fluid {
    padding-left: 50px;
}
.breadcrumb-holder.container-fluid {
    padding-left: 50px !important;
    padding: 10px 0;
}
.dashboardsty {
    background: #eeeeee;
}
.dashboardsty section.tables {
    background: #eeeeee;
    margin-bottom: 40px;
}
.page-header {
    background: #eeeeee;
}
.breadcrumb-holder {
    background: #eeeeee;
}
.upload .breadcrumb-holder {
    background: #eeeeee;
    border-bottom: 1px solid #d8d9da;
}
.tab-content {
    margin: 0 21px;
}
.secund-menu-button {
    text-align: right;
}
input.SYNC {
    background: #d8d9da;
    border: 1px solid #d8d9da;
    color: #000;
    padding: 5px 25px;
    border-radius: 0px;
    font-weight: normal;
    cursor: pointer;
    margin-right: 20px;
}
input.UPLOAD {
    background: #796aee;
    border: 1px solid #796aee;
    color: #ffffff;
    padding: 5px 25px;
    border-radius: 0px;
    font-weight: normal;
    cursor: pointer;
}
h2.no-margin-bottom {
    display: inline-block;
    float: left;
    margin-top: 10px;
    font-weight: normal;
    font-size: 1.1rem
}
.secund-menu-listview {
    text-align: right;
    display: initial;
    float: right;
    margin-top: -41px;
}
.secund-menu-listview a {
    color: #ababab;
    font-size: 13px;
    padding: 10px;
}
.secund-menu-listview a i {
    color: #000;
    font-size: 16px;
    vertical-align: middle;
    margin-right: 5px;
}
.logo-menu {
    width: 32%;
    background: #796aee;
}
div.tab-pane {
    padding: inherit;
}
.nav-pills a.nav-link {
    color: #aaa;
    font-weight: 300;
        padding-left: 0;
    padding-right: 2rem;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #000000;
    background-color: #796aee00;
    font-weight: normal;
}
.nav-pills .nav-link.active::before {
    border-bottom: 2px solid #796aee;
    border-radius: 0px;
}
.card-body .title {
    color: grey;
    font-size: .9rem;
    margin-bottom: 5px;
}
.card-body .cappadd {
    padding: 10px 15px;
}
.card-body .cappadd-bot {
    margin: 5px 0;
}
.card-close {
    position: absolute;
    bottom: 13px;
    right: 12px;
    top: auto;
}
header.page-header {
    padding: 19px 0;
}
.card-body {
    padding: 0;
}
.card {
    margin-bottom: 30px;
    /*-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
    box-shadow: none;
}
.card-close .dropdown-menu a i {
    width: 15px;
    text-align: left;
}
.card-close .dropdown-toggle {
    color: #796aee;
}
.card-body img {
    width: 100%;
}
/* Dashboard page css end */

/* modal popup css start */
.modal-title {
    width: 100%;
    color: #17a2b8;
}
.close:hover {
    opacity: 1;
    transform: rotate(90deg);
}
.close {
    transition: transform .25s, opacity .25s;
    font-size: 33px;
    font-family: serif;
    line-height: 1;
}
.modal-btn {
    background: #796aee;
    border: 1px solid #796aee;
    border-radius: 0;
}
/* modal popup css end */

/* Upload page css start */
.uploadpage section.tables {
    background: grey;
    padding-top: 40px;
}
.uploadpage .text-muted {
    color: #d8d9da!important;
}
.uploadpage{background: #eef5f9;}
.material-icons {
    transition: transform .25s, opacity .25s;
    font-size: 33px;
    font-family: serif;
    line-height: 1;
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
.material-icons:hover {
    transition: transform .25s, opacity .25s;
}
.uload-close {
    position: absolute;
    right: 15px;
    top: 21px;
}
.breadcrumb {position: initial;background: #eee;}
.file-upload input[type='file'] {
    display: none;
}
.custom-file-input {
    opacity: 1;
    border: none;
    padding: 0 21px;
    border-bottom: 2px solid #796aee;
    font-size: 13px;
    z-index: 0;
}
.upbtnfile{background: #d8d9da;border: 1px solid #d8d9da;color: #767782;}
section.tables {
    background: #eee;
    margin-bottom: 30px;
}
label.file-upload.btn.btn-primary.btn-block.rounded-pill.shadow {
    border-radius: 0px !important;
    margin: auto;
    width: 242px;
    box-shadow: none !important;
    font-size: .9rem;
}
.uploadiconsty {
    background: #fff;
    border-radius: 100% !important;
    width: 110px;
    height: 110px;
}
.breadcrumb li.breadcrumb-item {
    color: #000;}
/* Upload page css end */
