@media screen and (max-width: 767px) and (min-width: 200px) {
	#login .container #login-row #login-column #login-box #login-form #register-link {margin-top: auto !important;}
	#login .container #login-row #login-column #login-box {height: auto !important;}
	.nav-pills-fx {width: 100% !important; position: initial !important; margin-top: 70px !important;}
	.tab-content {margin: auto !important; margin-top: 10px !important;}
	.secund-menu {margin: auto !important;}
	.secund-menu-bot {margin: auto !important;}
	.ever-video {margin: auto !important;    margin-top: 15px !important;}
	.ever-video ul{padding: 0 !important;}
	.card {max-width: 100% !important;display: block !important;margin-bottom: 20px !important;}
	.Studioed-section2-1 ul {padding-top: 0px !important;}
	input.SYNC {margin-bottom: 10px  !important; margin-right: 0 !important;margin-left: 2px !important;}
	input.UPLOAD{margin-left: 4px !important;}
	.secund-menu-listview {text-align: left !important;float: initial !important;margin-top: -41px !important;}
	.page-header .container-fluid {padding-left: 30px !important;}
	.uploadpage section.tables .upload-bd-se {padding-left: 15px !important;}
	.breadcrumb-holder.container-fluid {padding-left: 30px !important;}
	.col-lg-3 {width: 50% !important;}
	.breadcrumb li a {display: none !important;}
	.breadcrumb-item+.breadcrumb-item::before {display: none !important;}
	.Studioed-seund {padding-top: 15px !important; padding-bottom: 15px !important;padding-left: 15px !important; padding-right: 15px !important; flex: 100% !important; max-width: 100% !important;}
	.Studioed-three {padding-right: 15px !important; flex: 100% !important; max-width: 100% !important;}
	#add-click-toggal {margin-left: -90px !important;}
	.Studioed-three .tab-content>.active {flex: 100% !important; max-width: 100% !important;}
	.Time-Triggers {margin-top: 30px !important;}
	.Time-Triggers img {margin-bottom: 20px !important;}
	nav.side-navbar ul li a span {width: 100% !important; text-align: center !important;}
	h2.no-margin-bottom {display: block !important; width: 100% !important; margin-bottom: 10px !important;}
	.uploadpage section.tables {padding-bottom: 90px !important;}
	.Subtitle-sec .b span:nth-child(1) a {width: auto !important;}
	.Subtitle-sec .b span:nth-child(2) a {width: auto !important;}
	.Subtitle-sec .b span:nth-child(3) a {width: auto !important;}
	.Subtitle-sec .b span:nth-child(4) a {width: auto !important;}
	.Subtitle-sec .b span:nth-child(5) a {width: auto !important;}
	.Subtitle-sec .c .card-header a p span:nth-child(1) {width: 57px !important;}
	.Subtitle-sec .c .card-header a p span:nth-child(2) {width: auto !important; padding-right: .6rem !important;}
	.Subtitle-sec .c .card-header a p span:nth-child(3) {width: auto !important; padding-right: .6rem !important;}
	.Subtitle-sec .c .card-header a p span:nth-child(4) {width: 50px !important; padding-right: .6rem !important;}
	.puntosoc {margin-bottom: 15px !important;}
	.metrics-sec-btn {position: inherit !important; right: 0 !important; top: 0 !important;}
	.metrics-sec-btn .createnew {padding: 0px 15px !important;}
	.time-sacind span.text {width: min-content !important;font-size: 10px !important;}
	.total-view {padding: 25px 0px !important;margin: 35px 15px !important;}
	.total-view-two {margin: 35px 0px !important;}
	.total-view-two {padding: 0px 10px !important;}
	.total-view-two .three span.number-c {width: 50px !important; font-size: 15px !important; height: 50px !important; padding: 9px !important;}
	span.number-c2 {width: 60px !important; font-size: 22px !important;}
	.three .number-cricle label {font-size: 10px !important;}
	.Headlines {padding: 20px 20px !important;}
	.time-sacind {padding: 0px 13px !important;}
	sup {font-size: 10px !important;}
	.tab-content label {font-size: 10px !important;}
	.total-view span.text {font-size: 10px !important;}
	.Interactions {padding: 0px 10px !important;}
	.Interactions .total-view .one {width: 25% !important;}
	.Interactions .total-view .two {width: 1% !important;}
	.Interactions .total-view .three {width: 20% !important;}
	.Interactions .total-view .fore {width: 3% !important;}
	.Interactions .total-view .five {width: 70px !important;height: 70px !important; font-size: 10px !important; padding: 5px !important;}
	.col-sm-2.Studioed-section2-1 {margin-bottom: 20px !important;}
	.col-sm-10.Studioed-section2-2 {margin-bottom: 20px !important;}
	.Studioed-section2 ul.small-view{display: -webkit-inline-box !important;overflow-x: scroll !important;overflow-y: hidden !important;white-space: nowrap !important;width: 100% !important;cursor: pointer !important;padding-bottom: 10px !important;}	
	.Studioed-section2 .tool ul.navbar-nav {padding: 0 0px !important;}
	.Studioed-section2 .tool ul.navbar-nav li a {font-size: 10px !important;}
	.Studioed-section2 .tool ul.navbar-nav li a::before {padding-right: 0rem !important;}
	.Studioed-section2 .tool ul.navbar-nav li a::after {padding-left: 0rem !important;}
	.navbar ul.navbar-nav.my-2.my-lg-0 {right: 15px !important;}
	.Library-sec .navseacrh {width: 100% !important;padding-left: .75rem !important;}
	.createoverlay_head nav.navbar.navbar-expand-md.bg-dark.navbar-dark {padding-right: 0 !important;}
	.createoverlay_page .logo-menu {width: 65px !important;}
	.createoverlay_head .navbar ul.navbar-nav.my-2.my-lg-0 {flex-direction: initial !important;position: initial !important;}
	.createoverlay_head ul.navbar-nav.ml-auto.mr-auto {width: auto !important; display: inline-block !important;}
	.createoverlay_head ul.navbar-nav li {float: left !important;}
	.createoverlay_head .navbar-dark .navbar-nav .nav-link input.SYNC {margin-bottom: 0 !important;}
	.createoverlay_head ul.navbar-nav.ml-auto.mr-auto {margin-left: auto !important;}
	.createoverlay-one {flex: 100% !important; max-width: 100% !important; position: inherit !important; height: inherit !important; right: inherit !important;}
	.createoverlay-one li {margin: 7px 7px !important;width: auto !important;display: inline-block !important;}
	.createoverlay-one ul {margin-bottom: 0 !important;}
	.createoverlay-two {flex: 100% !important; max-width: 100% !important;padding: 15px !important; position: inherit !important; height: inherit !important; right: inherit !important;}
	.createoverlay-two video{width: 100% !important;}
	.createoverlay-three {flex: 100% !important; max-width: 100% !important; position: inherit !important; height: inherit !important; left: inherit !important;}
	.createoverlay-one ul li a img {width: 14px !important;}
	.createoverlay-one li:nth-child(1) {margin-top: 0 !important;}
	.createoverlay-three .Layerslist .col-lg-6 {max-width: 50% !important;}
	.createoverlay_head input.SYNC {padding: 5px 5px !important;font-size: 10px !important;}
	.createoverlay_head input.UPLOAD {padding: 5px 5px !important;font-size: 10px !important;}
	.standard-upload {padding: 0 20px !important;}
	.standard-upload .alert {width: 83px !important;}
	.standard-upload .alert div.icon {width: 83px !important;}
	.modal-body .nav-select-temp ul.nav.nav-pills li {margin: 0 5px !important;}
	.modal-body .nav-select-temp ul.nav.nav-pills li a {padding: 2px 2px !important;}
	.modal-body .nav-select-temp .inlinediv#myDIV {margin-top: 0 !important;}
	.border-r-2 {border-right: 2px solid #d3d3d300 !important;}
	.standard-uploadbg .seaech-upload form.navbar-form.navbar-left i {left: 35px !important;}
	.Studioed-three .tab-content>.active {position: inherit !important;}
	label.file-upload.btn.btn-primary.btn-block.rounded-pill.shadow {width: 85%;}
	.Studioed-section2 .tool-time .col-sm-2 {flex: 100% !important; max-width: 100% !important;}
	.Studioed-section2 .tool-time .col-sm-10 {flex: 100% !important; max-width: 100% !important;}
	.panel-title a span {width: 22% !important;font-size: 11px !important;}
	.Library-sec .col-lg-4 {width: 50% !important;}
	.breadcrumb-holder .nav-pills li {padding-right: 1rem !important;}
	.secund-menu-listview ul.nav.nav-pills li:nth-child(1) {padding: 10px 10px 10px 0px !important;}
	.tab-content>.active {padding-right: 0px !important;}
	section.tables.list-view .tab-content {margin-top: -20px !important;}
	.kJdJTV {padding: 30px 0px !important;padding-bottom: 85px !important;}
	.content-inner {top: 36px !important;}
	section {padding: 36px 0 !important;}
	.breadcrumb-item+.breadcrumb-item { padding-left: 0rem;}
	.side-navbar ul.list-unstyled {padding-bottom: 120px !important}
	.btn-primary.disabled, .btn-primary:disabled {width: 175px !important;}
	.content-inner {padding-bottom: 36px !important;}
}
@media screen and (max-width: 991px) and (min-width: 768px) {
	.Studioed-section2 .tool-time .seaech-upload form input.form-control.navseacrh {height: 40px !important;width: 74% !important;}
	.col-lg-3 {width: 33% !important;}
	.secund-menu-listview {text-align: left !important;float: initial !important;margin-top: -41px !important;}
}
@media screen and (max-width: 359px) and (min-width: 200px) {
	.panel-title a span {width: 22% !important;font-size: 11px !important;}
	.panel-title a span img {width: 15px !important; margin-left: 0 !important;}
	.nav-menu a.nav-link {padding: .5rem 8px !important;}
	.brand-text form.navbar-form.navbar-left {margin-left: 80px !important;}
	.logo-menu {width: 80px !important; height: 34px !important;}
	form.navbar-form.navbar-left i {left: 90px !important;}
	.dashboardsty form.navbar-form.navbar-left i {left: 90px !important;top:9px !important;}
	.uploadpage form.navbar-form.navbar-left i {left: 90px !important;top:17px !important;}
	input.form-control.navseacrh {width: 99px !important; padding-left: 30px !important; padding-bottom: 0px !important;}
	.card-body img{height: 75px !important;}
	.card-body video{height: 75px !important;}
}
@media screen and (max-width: 411px) and (min-width: 360px) {
	.panel-title a span {width: 22% !important;font-size: 11px !important;}
	.panel-title a span img {width: 15px !important; margin-left: 0 !important;}
	.nav-menu a.nav-link {padding: .5rem 8px !important;}
	.logo-menu {width: 80px !important; height: 34px !important;}
	form.navbar-form.navbar-left i {left: 90px !important;}
	.brand-text form.navbar-form.navbar-left {margin-left: 80px !important;}
	.dashboardst form.navbar-form.navbar-left i {left: 90px !important; top: 11px !important;}
	.uploadpage form.navbar-form.navbar-left i {left: 90px !important;top:17px !important;}
	input.form-control.navseacrh {width: 115px !important; padding-left: 45px !important; padding-bottom: 0 !important;}
	.dashboardsty form.navbar-form.navbar-left i {left: 105px !important; top: 8px !important;}
	.card-body img{height: 86px !important;}
	.card-body video{height: 86px !important;}
}
@media screen and (max-width: 440px) and (min-width: 412px) {
	.nav-menu a.nav-link {padding: .5rem 8px !important;}
	.logo-menu {width: 80px !important; height: 34px !important;}
	.uploadpage form.navbar-form.navbar-left i {left: 120px !important;top:15px !important;}
	.dashboardsty form.navbar-form.navbar-left i {left: 95px !important; top: 10px !important;}
	input.form-control.navseacrh {width: 150px !important; padding-bottom: 0 !important;padding-top: 12px !important;padding-left: 37px !important;}
	.brand-text form.navbar-form.navbar-left {margin-left: 80px !important;}
	.card-body img{height: 102px !important;}
	.card-body video{height: 102px !important;}
}
@media screen and (max-width: 500px) and (min-width: 441px) {
	.brand-text form.navbar-form.navbar-left {margin-left: 80px !important;}
	.nav-menu a.nav-link {padding: .5rem 8px !important;}
	.logo-menu {width: 80px !important; height: 34px !important;}
	.uploadpage form.navbar-form.navbar-left i {left: 120px !important;top:15px !important;}
	.dashboardsty form.navbar-form.navbar-left i {left: 95px !important; top: 10px !important;}
	input.form-control.navseacrh {width: 150px !important;padding-bottom: 0 !important;padding-top: 12px !important;padding-left: 37px !important;}
	.card-body img{height: 110px !important;}
	.card-body video{height: 110px !important;}
}
@media screen and (max-width: 767px) and (min-width: 501px) {
	.nav-menu a.nav-link {padding: .5rem 1rem !important;}
	.logo-menu {width: 80px !important; height: 34px !important;}
	.uploadpage form.navbar-form.navbar-left i {left: 120px !important;top:15px !important;}
	.brand-text form.navbar-form.navbar-left {margin-left: 80px !important;}
	.dashboardsty form.navbar-form.navbar-left i {left: 95px !important; top: 10px !important;}
	input.form-control.navseacrh {width: 170px !important;padding-left: 37px !important;padding-top: 12px !important;padding-bottom: 0 !important;}
	.card-body img{height: 149px !important;}
	.card-body video{height: 149px !important;}
}
@media (min-width: 576px){
	.ReactModal__Content.ReactModal__Content--after-open {
		max-width: 500px;
	}
}
@media screen and (max-width: 991px) and (min-width: 200px) {
	.studio_page .navbar ul.navbar-nav.my-2.my-lg-0 {top: -2px !important;}
}
@media screen and (max-width: 1199px) and (min-width: 200px) {
	nav.side-navbar {
		margin-left: -90px;
		min-width: 90px;
		max-width: 90px;
		text-align: center;
		overflow: hidden;
	}
	nav.side-navbar.shrinked {
		margin-left: 0;
	}
	nav.navbar .menu-btn.active span:nth-of-type(2) {
		-webkit-transform: rotateY(180deg);
		transform: rotateY(180deg);
	}
	nav.navbar .menu-btn span:nth-of-type(2) {
		-webkit-transform: none;
		transform: none;
	}
	p#toggle-btn {
    display: block !important;
	}
	nav.side-navbar.shrinked .sidebar-header .title {
     display: block !important; 
	}
	nav.side-navbar .title h1 {
    width: auto !important;
	}
	nav.side-navbar .title h1 img {
    width: 30px !important;
    float: initial !important;
    margin-top: 0 !important;
	}
	nav.side-navbar ul li span.number {width: 100% !important;text-align: center !important;}
	nav.side-navbar ul li .folderName i {margin-bottom: 5px;text-align: center !important;margin-right: 0 !important;display: block !important;font-size: 1rem !important;}
	nav.side-navbar ul li span {font-size: 11px !important;}
	nav.side-navbar ul.sub_folder li {border-left: 0 !important;}
	nav.side-navbar ul li span:nth-child(1) {width: 100% !important;}
	span.folderName {width: 100% !important;text-align: center !important;}
	.nav-sidebar-main .sidebar-header .title h1 img {float: initial !important;margin-top: 0 !important;}
	nav.side-navbar ul li {padding: 6.2px .5px !important;}
	nav.side-navbar.shrinked {min-width: 90px !important;max-width: 90px !important;text-align: center !important;}
}
@media screen and (max-width: 2880px) and (min-width: 1200px) {
	p#toggle-btn {
    display: none !important;
	}
}
@media screen and (max-width: 1520px) and (min-width: 1367px) {
	.card-body img {height: 157px !important;}
	.card-body video {height: 157px !important;}
}
@media screen and (max-width: 1710px) and (min-width: 1521px) {
	.card-body img {height: 184.5px !important;}
	.card-body video {height: 184.5px !important;}
}
@media screen and (max-width: 1821px) and (min-width: 1711px) {
	.card-body img {height: 201px !important;}
	.card-body video {height: 201px !important;}
}
@media screen and (max-width: 2049px) and (min-width: 1822px) {
	.card-body img {height: 234px !important;}
	.card-body video {height: 234px !important;}
}
@media screen and (max-width: 2732px) and (min-width: 2050px) {
	.card-body img {height: 334px !important;}
	.card-body video {height: 334px !important;}
}
@media screen and (max-width: 4098px) and (min-width: 2733px) {
	.card-body img {height: 536px !important;}
	.card-body video {height: 536px !important;}
}