.normal-fade {
    animation: fadein 5s;
    -moz-animation: fadein 5s; /* Firefox */
    -webkit-animation: fadein 5s; /* Safari and Chrome */
    -o-animation: fadein 5s; /* Opera */
}


@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}


/*

.slide-animate-top{position:relative;animation:animatetop 5s}@keyframes animatetop{from{top:-300px;opacity:1} to{top:0;opacity:1}}
.slide-animate-left{position:relative;animation:animateleft 5s}@keyframes animateleft{from{left:-300px;opacity:1} to{left:0;opacity:1}}
.slide-animate-right{position:relative;animation:animateright 5s}@keyframes animateright{from{right:-300px;opacity:1} to{right:0;opacity:1}}
.slide-animate-bottom{position:relative;animation:animatebottom 5s}@keyframes animatebottom{from{bottom:-300px;opacity:1} to{bottom:0;opacity:1}}
*/



/*
fade-lef
*/


.fade-animate-left{
    animation: fade-animate-left-child 5s;
    -moz-animation: fade-animate-left-child 5s; /* Firefox */
    -webkit-animation: fade-animate-left-child 5s; /* Safari and Chrome */
    -o-animation: fade-animate-left-child 5s; /* Opera */
}




@-webkit-keyframes fade-animate-left-child {
    from {
        opacity:0;
        -webkit-transform: translatex(-100%);
        -moz-transform: translatex(-100%);
        -o-transform: translatex(-100%);
        transform: translatex(-100%);
    }
    to {
        opacity:1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}
@-moz-keyframes fade-animate-left-child {
    from {
        opacity:0;
        -webkit-transform: translatex(-100%);
        -moz-transform: translatex(-100%);
        -o-transform: translatex(-100%);
        transform: translatex(-100%);
    }
    to {
        opacity:1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}
@keyframes fade-animate-left-child {
    from {
        opacity:0;
        -webkit-transform: translatex(-100%);
        -moz-transform: translatex(-100%);
        -o-transform: translatex(-100%);
        transform: translatex(-100%);
    }
    to {
        opacity:1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}






/*fade top */

.fade-animate-top{
    animation: fade-animate-top-child 5s;
    -moz-animation: fade-animate-top-child 5s; /* Firefox */
    -webkit-animation: fade-animate-top-child 5s; /* Safari and Chrome */
    -o-animation: fade-animate-top-child 5s; /* Opera */
}

@-webkit-keyframes fade-animate-top-child {
    from {
        opacity:0;
        -webkit-transform: translatey(-100%);
        -moz-transform: translatey(-100%);
        -o-transform: translatey(-100%);
        transform: translatey(-100%);
    }
    to {
        opacity:1;
        -webkit-transform: translatey(0);
        -moz-transform: translatey(0);
        -o-transform: translatey(0);
        transform: translatey(0);
    }
}
@-moz-keyframes fade-animate-top-child {
    from {
        opacity:0;
        -webkit-transform: translatey(-300px);
        -moz-transform: translatey(-300px);
        -o-transform: translatey(-300px);
        transform: translatey(-300px);
    }
    to {
        opacity:1;
        -webkit-transform: translatey(0);
        -moz-transform: translatey(0);
        -o-transform: translatey(0);
        transform: translatey(0);
    }
}
@keyframes fade-animate-top-child {
    from {
        opacity:0;
        -webkit-transform: translatey(-100%);
        -moz-transform: translatey(-100%);
        -o-transform: translatey(-100%);
        transform: translatey(-100%);
    }
    to {
        opacity:1;
        -webkit-transform: translatey(0);
        -moz-transform: translatey(0);
        -o-transform: translatey(0);
        transform: translatey(0);
    }
}







/*bottom to top*/

.fade-animate-bottom {
    animation: fade-animate-bottom-child 5s;
    -moz-animation: fade-animate-bottom-child 5s; /* Firefox */
    -webkit-animation: fade-animate-bottom-child 5s; /* Safari and Chrome */
    -o-animation: fade-animate-bottom-child 5s; /* Opera */
}

@keyframes fade-animate-bottom-child {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}



/*
fade-right-to-left
*/


.fade-animate-right{
    animation: fade-animate-right-child 5s;
    -moz-animation: fade-animate-right-child 5s; /* Firefox */
    -webkit-animation: fade-animate-right-child 5s; /* Safari and Chrome */
    -o-animation: fade-animate-right-child 5s; /* Opera */
}




@-webkit-keyframes fade-animate-right-child {
    from {
        opacity:0;
        -webkit-transform: translatex(100%);
        -moz-transform: translatex(100%);
        -o-transform: translatex(100%);
        transform: translatex(100%);
    }
    to {
        opacity:1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}
@-moz-keyframes fade-animate-right-child {
    from {
        opacity:0;
        -webkit-transform: translatex(100%);
        -moz-transform: translatex(100%);
        -o-transform: translatex(100%);
        transform: translatex(100%);
    }
    to {
        opacity:1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}
@keyframes fade-animate-right-child {
    from {
        opacity:0;
        -webkit-transform: translatex(100%);
        -moz-transform: translatex(100%);
        -o-transform: translatex(100%);
        transform: translatex(100%);
    }
    to {
        opacity:1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}






 /*slide animate top*/

.slide-animate-top{
    animation: slide-animate-top-child 5s;
    -moz-animation: slide-animate-top-child 5s; /* Firefox */
    -webkit-animation: slide-animate-top-child 5s; /* Safari and Chrome */
    -o-animation: slide-animate-top-child 5s; /* Opera */
}

@-webkit-keyframes slide-animate-top-child {
    from {
        -webkit-transform: translatey(-100%);
        -moz-transform: translatey(-100%);
        -o-transform: translatey(-100%);
        transform: translatey(-100%);
    }
    to {
        -webkit-transform: translatey(0);
        -moz-transform: translatey(0);
        -o-transform: translatey(0);
        transform: translatey(0);
    }
}
@-moz-keyframes slide-animate-top-child {
    from {
        -webkit-transform: translatey(-300px);
        -moz-transform: translatey(-300px);
        -o-transform: translatey(-300px);
        transform: translatey(-300px);
    }
    to {
        -webkit-transform: translatey(0);
        -moz-transform: translatey(0);
        -o-transform: translatey(0);
        transform: translatey(0);
    }
}
@keyframes slide-animate-top-child {
    from {
        -webkit-transform: translatey(-100%);
        -moz-transform: translatey(-100%);
        -o-transform: translatey(-100%);
        transform: translatey(-100%);
    }
    to {
        -webkit-transform: translatey(0);
        -moz-transform: translatey(0);
        -o-transform: translatey(0);
        transform: translatey(0);
    }
}


 /*slide botton*/

.slide-animate-bottom {
    animation: slide-animate-bottom-child 5s;
    -moz-animation: slide-animate-bottom-child 5s; /* Firefox */
    -webkit-animation: slide-animate-bottom-child 5s; /* Safari and Chrome */
    -o-animation: slide-animate-bottom-child 5s; /* Opera */
}

@keyframes slide-animate-bottom-child {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        -webkit-transform: none;
        transform: none;
    }
}



/*
slide left to right*/


.slide-animate-left{
    animation: slide-animate-left-child 5s;
    -moz-animation: slide-animate-left-child 5s; /* Firefox */
    -webkit-animation: slide-animate-left-child 5s; /* Safari and Chrome */
    -o-animation: slide-animate-left-child 5s; /* Opera */
}


@-webkit-keyframes slide-animate-left-child {
    from {
        -webkit-transform: translatex(-100%);
        -moz-transform: translatex(-100%);
        -o-transform: translatex(-100%);
        transform: translatex(-100%);
    }
    to {
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}
@-moz-keyframes slide-animate-left-child {
    from {
        -webkit-transform: translatex(-100%);
        -moz-transform: translatex(-100%);
        -o-transform: translatex(-100%);
        transform: translatex(-100%);
    }
    to {
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}
@keyframes slide-animate-left-child {
    from {
        -webkit-transform: translatex(-100%);
        -moz-transform: translatex(-100%);
        -o-transform: translatex(-100%);
        transform: translatex(-100%);
    }
    to {
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}



 /*right to left*/



.slide-animate-right{
    animation: slide-animate-right-child 5s;
    -moz-animation: slide-animate-right-child 5s; /* Firefox */
    -webkit-animation: slide-animate-right-child 5s; /* Safari and Chrome */
    -o-animation: slide-animate-right-child 5s; /* Opera */
}


@-webkit-keyframes slide-animate-right-child {
    from {
        -webkit-transform: translatex(100%);
        -moz-transform: translatex(100%);
        -o-transform: translatex(100%);
        transform: translatex(100%);
    }
    to {
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}
@-moz-keyframes slide-animate-right-child {
    from {
        -webkit-transform: translatex(100%);
        -moz-transform: translatex(100%);
        -o-transform: translatex(100%);
        transform: translatex(100%);
    }
    to {
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}
@keyframes slide-animate-right-child {
    from {
        -webkit-transform: translatex(100%);
        -moz-transform: translatex(100%);
        -o-transform: translatex(100%);
        transform: translatex(100%);
    }
    to {
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}



