.selected{
    border: solid 2px #1f75c4;
}

.draggable-container{
    display: block;
    position: relative;
    height: calc(100% - 50px);
}

.layer-selected{
    border: solid 2px #736e6e;
}


.widget-selected{
    border: solid 2px #2F6C73 !important;
}
.widget-cursor{
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.widget{
    width: 100%;
    height: 100%;
    border: solid 1px #ddd;
    padding : 1px;
}

.edit-button{
    position: absolute;
    width: calc(100% - 5px);
    text-align: right;
    cursor: pointer;
    top: 18px;
    display: none;
}

.delete-button {
    position: absolute;
    width: calc(100% - 5px);
    text-align: right;
    cursor: pointer;
    display: none;
}

.widget-selected:hover .edit-button{
    display: block;
}

.widget-selected:hover .delete-button{
    display: block;
}

.iframe-child{
    width: 100%;
    height: 100%;
}

.iframe-child > iframe {
    width: 100%;
    height: 100%;
}

.preview-header{
    width: 100%;
    height: 40px;
}

