/* Scrollbar styles start*/
::-webkit-scrollbar {
width: 5px;
height: 5px;
}

::-webkit-scrollbar-track {
box-shadow: inset 0 0 10px #dddcdc;
border-radius: 10px;
}

::-webkit-scrollbar-thumb {
border-radius: 10px;
background: #727272; 
box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.table-responsive.two {
    padding-right: 4px;
}
body{font-family: "Poppins", sans-serif;}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: normal;
}
/* Scrollbar styles end*/

/* header navbar page styles start*/
nav.navbar.navbar-expand-md.bg-dark.navbar-dark {
    background: #1a1723 !important;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 1px solid #bababa;
}
.nav-item img.icon {
    width: 23px;
    vertical-align: middle;
        margin-right: 8px;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgb(186, 186, 186) !important;
    font-size: 14px;
    padding-top: 0;
    padding-bottom: 0;
    cursor: pointer;
}
/*ul.navbar-nav.ml-auto.mr-auto li a::before {
    display: inline-block;
    padding-right: 1.5rem;
    color: #6c757d;
    content: "|";
    font-size: 26px;
    vertical-align: middle;
}*/
/*ul.navbar-nav.ml-auto.mr-auto li:last-child a::after {
    display: inline-block;
    padding-left: 1.5rem;
    color: #6c757d;
    content: "|";
    font-size: 26px;
    vertical-align: middle;
}*/
.navbar-dark .navbar-brand {padding: 0; width: auto; display: contents;}
ul.navbar-nav.my-2.my-lg-0 li a img {
    width: 23px;
    border-radius: 100px;
}
/* header navbar page styles start*/

/* Studio page styles start*/
.Studioed-three .nav-pills {
    display: -webkit-inline-box;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
    cursor: pointer;
}
.container-fluid.Studioed {
    margin-top: 32px;
    padding-top: 10px;
}

.logo-menu{width: 99px;}
.nav-pills .nav-link2.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #727272;
    border-radius: 0;
}
.nav-pills .nav-link2 {
    font-size: 12px;
    color: #bababa;
    padding:1rem;
    text-align: center;
    background: #252425;
    border-radius: 0;
}
.nav-pills .nav-link2 img{width: 30px; height: 30px;}
.nav-pills .nav-item{
    margin-right: 7px;
    padding-bottom: .3rem;
}
.nav-link2 {
    padding: .5rem 1.7rem;
    padding-bottom: .2rem;
}
.tab-content>.active {
    padding: 0;
    padding-right: 5px;
}
.Studioed-three .tab-content>.active {
    float: left;
}
ul.navbar-nav li {
    margin: 5px;
}
ul.navbar-nav li a {
    padding: 8px;
}
ul.navbar-nav li a i {
    font-size: 18px;
    color: #bababa;
}
ul.navbar-nav li a:hover i {
    font-size: 18px;
    color: #fff;
}


.secund-menu {
    margin: 55px 0 0 215px;
    padding: .85rem;
    background: #eeeeee;
    border-bottom: 1px solid #b6b6b6;
}
.secund-menu-home {display: inline-block;float: left;}
.secund-menu-button {text-align: right;}
.secund-menu-bot {margin: 0 0 0 215px ;padding: .8rem; background: #eeeeee;}
.secund-menu-every {display: inline-block; float: left;font-size: 16px;}
.secund-menu-every a{color: #000;padding: 0 10px;}
.secund-menu-listview {text-align: right;}

.secund-menu-listview a {
    color: #ababab;
    font-size: 14px;
    padding: 10px;
}
.secund-menu-listview a i {
    color: #000;
}
a:hover{text-decoration: none;}
ul li{list-style-type: none;}
.studio_page .bg-dark {
    background-color: #000000!important;
}
.studio_page{background: #000;}
.Studioed-seund {
    background: #000;
    padding-top: 0px;
    padding-left: 0;
    padding-right: 0;
}
.Studioed-seund img{width: 100%;}
.Studioed-section2-1 li.timestart{float: right;}
.time-line .progress-bar{width:100%; background:#1f75c4;}
.time-line-vert .progress-bar{width: 2px;background: #1f75c4; height: 214px;}
.cutimages-border-bot{border-bottom: 2px solid black;}

tr {
    background: #252425;
}
.table-hover tbody tr:hover {
    color: #212529;
    background-color: rgb(96, 96, 96);
}
.table {margin-bottom: 0;}
.Studioed-three {
    background: black;
    padding-right: 0;
    padding-top: 5px;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #000000;
    border-top: none;
}
.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 2px solid #000000;
        color: #bababa;
}
.table td, .table th {
    padding: .4rem;
    vertical-align: top;
    border-top: 2px solid #000000;
    color: #bababa;
    font-size: 12px;
    width: 85px;    
    white-space: nowrap;
    overflow: hidden;
}
.nav li.active a {
    text-decoration: none;
    color: #727272 !important;
}

td img {
    width: 25px;
    border: 1px solid #bababa;
    border-radius: 50px;
}
td i.fa.fa-angle-right {
    font-size: 15px;
    margin-right: 2px;
}
td span {
    font-size: 9px;
    margin-left: 3px;
}
.tab-content1 {
    position: relative;
    height: 76.5%;
}
.Studioed-three .tab-content1>.active{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    overflow-y: auto;
}

.Studioed-three .tab-content1>.active .metrics-sec .tab-content1 {
    position: inherit;
    height: auto;
}
.Studioed-three .tab-content1>.active .metrics-sec .tab-content1>.active {
    position: inherit;
    left: 0;
    top: 50px;
    height: 100%;
    overflow-y: inherit;
}
.Studioed-three .Library-sec .tab-content1>.active {
    position: inherit;
    overflow: hidden;
}
/*.table-responsive.two {
    display: block;
    width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    height: 320px;
}*/
/*.table-responsive.two.c {
    display: block;
    width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    height: 266px;
}*/

.Studioed-section2 {
    background: #252425;
}

.Studioed-section2-1 ul {
    padding: 0;
    padding: 0px;
    padding-bottom: 0;
}

.Studioed-section2-1 ul li {
    display: inline-block;
    padding: 6px;
}
.Studioed-section2-1 ul li a {
    color: #bababa;
}
.Studioed-section2-1 ul li a img {
    width: 17px;
}
.Studioed-section2-2 {
    padding: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0;
}
.sear-drop.Studioed-section2-1 {
    text-align: left;
}
.navbar-nav li .dropdown-menuss img {
    width: 20px;
    margin-left: 5px;
}
.sear-drop button.btn.dropdown-toggle {
    width: 100%;
    background: no-repeat;
    border-bottom: 2px solid black !important;
    border: none;
    text-align: left;
    border-radius: 0px;
}
.Studioed-section2-1 {
    padding: 0;
    margin-top: 0px;
    text-align:center;
}
.border-r-n{border-right: none;}
hr {
    margin-top: 0;
    margin-bottom: 1rem;
    border: 0;
    border-top: 4px dashed rgb(186, 186, 186);
    margin-left: 15px;
        margin-right: 15px;
}
.progress{
    height: 5px;
    background: rgba(0,0,0,0.1);
    border-radius: 15px;
    margin-bottom: 20px;
    overflow: visible;
    position: relative;
}
.progress .progress-icon,
.progress .progress-value{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    line-height: 40px;
    background: #fff;
    border: 7px solid #1f75c4;
    font-size:15px;
    font-weight: 600;
    color: #1f75c4;
    position: absolute;
    top: -8px;
    right: -5px;
}
.progress .progress-icon{
    right: auto;
    left: -5px;
}
.time-line {
    padding-left: 15px;
    padding-right: 15px;
}
.cutimages-sec {
    background: black;;
}
.col-sm-2.Studioed-section2-1 {
    border-right: 1px solid black;
}
.cutimages-sec img{width: auto; height: 32px;}
.cutimages-bot4 {height: 36px; border-bottom: 2px solid black;}
.cutimages-bot3 {
    height: 36px;
    padding-left: 15px;
    padding-right: 15px;
}
.cutimages-bot3 .progress-icon {
    border-radius: 50%;
    background: #fff;
    border: 7px solid #bababa;
    position: absolute;
    margin-top: 10px;
}

.hr1{
    margin-top: .3rem;
    margin-bottom: .3rem;
    border: 0;
    border-top: 1px solid rgb(0, 0, 0);
    margin-left: 0;
    margin-right: 0;
}
.cutimages-bot3 .progress-icon:nth-child(2) {
    margin-left: 40px;
}
.cutimages-bot3 .progress-icon:nth-child(3) {
    margin-left: 60px;
}
.cutimages-bot3 .progress-icon:nth-child(4) {
    margin-left: 90px;
}
.cutimages-bot3 .progress-icon:nth-child(5) {
    margin-left: 130px;
}
.cutimages-bot3 .progress-icon:nth-child(6) {
    margin-left: 170px;
}
.cutimages-bot3 .progress-icon:nth-child(7) {
    margin-left: 140px;
}
.cutimages-bot3 .progress-icon:nth-child(8) {
    margin-left: 150px;
}.cutimages-bot3 .progress-icon:nth-child(9) {
    margin-left: 200px;
}.cutimages-bot3 .progress-icon:nth-child(10) {
    margin-left: 190px;
}
.sear-drop .card {
    background-color: #fff0;
    border: none;
    box-shadow: none !important;
    border-radius: .25rem;
    margin: 0 !important;
        display: inline;
}
.sear-drop.Studioed-section2-1 .left-video {
    width: 30px;
    display: inline-block;
    margin: auto;
    float: left;
  /*  padding-top: 5px;
    padding-bottom: 10px;*/
    padding-left: 0;
    border-right: 1px solid #6f6d73;
    margin-right: 10px;
    font-size: 15px;
}
.sear-drop.Studioed-section2-1 .left-video img.people-icon {width: 17px; margin-top: -1px;}
.sear-drop.Studioed-section2-1 .text{color: #bababa; font-size: 12px;}
.sear-drop.Studioed-section2-1 .text i{margin-left: 5px;}
.sear-drop.Studioed-section2-1 .text-b-icon {
    margin: 0px 23px;
}
.sear-drop.Studioed-section2-1 .card .card-header a p {
    margin-bottom: 0px;
}
.sear-drop.Studioed-section2-1 .text-b-icon i {
    padding: 0 10px;
    font-size: 11px;
}
.sear-drop.Studioed-section2-1 .text-b-icon img {
    padding: 0 10px;
    width: 32px;
}
.sear-drop .card-header {
    padding: .55rem 1rem; border-bottom: 2px solid #000;
}
.sear-drop .card-header a{color: #fff;font-size: 12px;}    
.sear-drop .card-header a p>i {
    margin-left: 5px;
}
.sear-drop .card-body a{color: #fff;font-size: 12px;}

.sear-drop .card-body{border-bottom: 2px solid #000;padding: 0 1.3rem;}

#add-click-toggal {
    display: none;
    position: absolute;
    margin-left: -86px;
    bottom: 40px;
    z-index: 999;
    background: #000000;
    color: #adbaba;
    width: 210px;
}
#add-click-toggal .one{padding: 15px 30px;}
#add-click-toggal .one p{font-size: 12px;}
#add-click-toggal .one img{width: 25px; margin-right: 10px;}
#add-click-toggal .one:hover {
    background: #343a40;
    cursor: pointer;
}
#add-click-toggal .two{padding: 15px 30px;}
#add-click-toggal .two p{font-size: 12px;}
#add-click-toggal .two img{width: 25px; margin-right: 10px;}
#add-click-toggal .two:hover {
    background: #343a40;
    cursor: pointer;
}
.time-line-vert .progress {
    height: 2px;
    background: rgba(0,0,0,0.1);
    border-radius: 15px;
    margin-bottom: 0px;
    overflow: visible;
    position: relative;
}
.time-line-vert {
    z-index: 9999;
    margin-left: 5px;
    margin-right: 5px;
}
.time-line-vert .progress .progress-icon{
        border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border: 7px solid #1f75c4;
    position: absolute;
    top: 0px;
    background: no-repeat;
    width: 0;
    height: 0;
}
/* Studio page styles end*/

/* modal popup styles start*/
.modal-btn {
    background: #7c6cff;
    border: 1px solid #7c6cff;
    border-radius: 0px;
}
.modal-dialog {top: 0%;}
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.modal {
    position: fixed;
    top: 7px;
}
.modal-content{border-radius: 0px;}
.modal-body{padding: 0px;}
.modal-title {color: #868686; line-height: 2.1;}
.modal-header {padding: 4px 20px;}
.close:hover {
    opacity: 1;
    transform: rotate(90deg);
}
.close {
    transition: transform .25s, opacity .25s;
    font-size: 33px;
    font-family: serif;
    line-height: 1;
}
/* modal popup styles end*/

/* Details section styles start*/
.tab-content1 label {
    font-size: 12px;
    color: #bababa;
}
.Player-Settings {
    background: #796aee;
    border: 1px solid #796aee;
    color: #ffffff !important;
    padding: 5px 25px;
    border-radius: 0px;
    font-weight: normal;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
}
.tab-content1 .form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    color: #bababa;
    background-color: #252425;
    background-clip: padding-box;
    border: 1px solid #343a40;
    border-radius: 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-bottom: 1px solid #bababa;
        height: 33px;
}
.img-w{width: 100%;}
.posterframe-btn-sec{margin-top: 15px;text-align: center;}
.posterframe-btn-sec input.UPNEW {
    background: #ff000000;
    color: #bababa;
    border: 1px solid #bababa;
    font-size: 12px;
    padding: 3px;
    cursor: pointer;
    width: 100px;
}
.posterframe-btn-sec input.CRFR {
    background: #ff000000;
    color: #bababa;
    border: 1px solid #bababa;
    font-size: 12px;
    padding: 3px;
    cursor: pointer;
    width: 100px;
}
.pwd-w {
    width: 88% !important;
    display: initial !important;
    margin-right: 5px !important;
}
.iconsss{color: #bababa;}
textarea#comment {
    height: 50px;
}
/* Details section styles end*/

/* Time-Triggers section styles start*/
.Time-Triggersimg-pus .timestart{
    margin-left: 0px !important;
    padding: 0 5px !important;
}
.Time-Triggersimg-pus li {
    padding-left: 5px !important;
}
.Time-Triggers {
    text-align: center;
    margin-top: 80px;
    color: #bababa;
}
.Time-Triggers img {
    background: #343a40;
    border-radius: 100px;
    margin-bottom: 40px;

}
 .createnew {
    background: #796aee;
    border: 1px solid #796aee;
    color: #ffffff !important;
    padding: 5px 25px;
    border-radius: 0px;
    font-weight: normal;
    cursor: pointer;
}
.Time-Triggers2 .form-control{
    width: 25%;
    display: inline;
    background: #696969;
    border: none;
    border-bottom: 1px solid #bababa;
}
.Time-Triggers2 .alert{
    background: #252425;
    border-radius: 0;
    border: none;
    padding: .4rem;
}
.Time-Triggers2 .alert button.close {
    color: #bababa !important;
    font-weight: normal;
    padding: .4rem;
}
.Time-Triggers2 .alert .timestart {
    color: #bababa;
    margin: 0 0px 0px 10px;
}
.Time-Triggers2 .alert .timeend {
    color: #bababa;
    margin: 0 10px 0px 10px;
}
i.far.fa-check-circle {
    font-size: 28px;
    vertical-align: middle;
    color: #01a701;
}
div#time-click-show {
    margin-top: 3px;
}
#time-click-show{display: none;}
.margin-b-7{margin-bottom: 7px;}
.Time-Triggersimg {
    background: #252425;
    margin-top: 7px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-left: 5;
    padding-right: 5;
    border-top: 2px solid #000000;
}
.Time-Triggersimg-pus ul li{ 
    display: inline-block;
    padding: 6px;
}
.Time-Triggersimg-pus ul li a{color: #bababa;    font-size: 11px;}
.Time-Triggersimg-pus ul li.timestart{background: #696969; padding: 0 10px; vertical-align: middle;}
.Time-Triggersimg-pus ul li.timestart a {font-size: 16px;}
.time-line {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: -9px;
}
.Time-Triggersimg-pus .progress {
    height: 5px;
    background: rgba(0,0,0,0.1);
    border-radius: 15px;
    margin-bottom: 0px;
    overflow: visible;
    position: relative;
}
.Time-Triggersimg-pus .time-line .progress-bar {
    width: 100%;
    background: #bababa;
    height: 2px;
}
.Time-Triggersimg-pus .progress .progress-icon{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    line-height: 40px;
    background: #fff;
    border: 7px solid #bababa;
    font-size: 15px;
    font-weight: 600;
    color: #bababa;
    position: absolute;
    top: -6px;
    right: -5px;
}
/* Time-Triggers section styles end*/

/* Subtitle section styles start*/
.Subtitle-sec .a{
    background: #252425;
    padding: .4rem;
    color: #bababa;
    font-size: 12px;
    border-bottom: 2px solid #000;
}
.Subtitle-sec .a .form-control{
    width: 25%;
    display: inline;
    background: #696969;
    border: none;
    border-bottom: 1px solid #bababa;
}
.Subtitle-sec .a .createnew {
    background: #796aee;
    border: 1px solid #796aee;
    color: #ffffff !important;
    padding: 7px 25px;
    border-radius: 0px;
    font-weight: normal;
    cursor: pointer;
    vertical-align: middle;
    float: right;
}
.Subtitle-sec .b {
    background: #252425;
    padding: 0rem;
    color: #bababa;
    font-size: 12px;
    border-bottom: 2px solid #000;
    padding-left: .4rem;
    padding-right: .4rem;
}
.Subtitle-sec .b span a {
    padding: 0rem 0rem;
    color: #bababa;
}
.Subtitle-sec .b span a::before{
    display: inline-block;
    padding-right: .5rem;
    color: #6c757d;
    content: "|";
    font-size: 22px;
    vertical-align: middle;
}
.Subtitle-sec .b span:nth-child(1) a::before {display: none;}
.Subtitle-sec .b span:nth-child(1) a {width: 60px; display: inline-block;}
.Subtitle-sec .b span:nth-child(2) a {width: 80px; display: inline-block;}
.Subtitle-sec .b span:nth-child(3) a {width: 80px; display: inline-block;}
.Subtitle-sec .b span:nth-child(4) a {width: 245px; display: inline-block;}
.Subtitle-sec .b span:nth-child(5) a {width: 50px; display: inline-block;}
.Subtitle-sec .b span:nth-child(4) a {
    border-right: 0px;
}

.Subtitle-sec .c{
    background: #252425;
    padding: 0rem;
    color: #bababa;
    font-size: 12px;
    border-bottom: 2px solid #000;
}
.Subtitle-sec .c .card-header {
    padding: .4rem 0rem;
    color: inherit;
    background-color: rgb(37, 36, 37);
    border-bottom: 1px solid #000;
}
.Subtitle-sec .c .card {
    background-color: #ff000000;
    background-clip: border-box;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid black !important;
}
.Subtitle-sec .c .card-header a {
    color: #bababa;
    font-size: 12px;
}
.Subtitle-sec .c .card-header a p span:nth-child(1) {
    width: 70px;
    display: inline-block;
    padding-left: .4rem;
    text-align: center;
    margin-right: 3px;
}
.Subtitle-sec .c .card-header a p span:nth-child(2) {
    width: 80px;
    display: inline-block;
    background: dimgrey;
    padding-left: .6rem;
    margin-right: 3px;
}
.Subtitle-sec .c .card-header a p span:nth-child(3) {
    width: 81px;
    display: inline-block;
    background: dimgrey;
    padding-left: .6rem;
    margin-right: 3px;
}
.Subtitle-sec .c .card-header a p span:nth-child(4) {
    width: 246px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: dimgrey;
    vertical-align: middle;
   
    padding-left: .6rem;
    margin-right: 3px;
}
.Subtitle-sec .c .card-header a p span:nth-child(5) {
    width: 25px;
    display: inline-block;
    padding-left: .6rem;
}
.Subtitle-sec .c .card-body {padding: 1rem .4rem;}
.Subtitle-sec .c a {color: #bababa;}
.Subtitle-sec .c i.fas.fa-angle-down.rotate-icon {
    font-size: 18px;
    vertical-align: middle;
}
/* Subtitle section styles end*/

/* Embed section styles start*/
.Embed-sec .loop-li ul {
    padding: 15px;
    background: #252425;
    color: #bababa;
    font-size: 12px;
}
.Embed-sec .loop-li ul li {
    line-height: 2;
    margin-bottom: 10px;
}
.Embed-sec .loop-li ul li:last-child {
    margin-bottom: 0px;
}
.Embed-sec .loop-li ul li a i {
    vertical-align: top;
    font-size: 20px;
    float: right;
    color: #bababa;
    margin-top: 3px;
}
.Embed-sec .copy{
    float: right;
    font-size: 12px;
    color: #bababa;
    text-decoration: underline;
}
.Embed-sec textarea#comment{height: 200px; color: #6c7274;}
.puntosoc {margin-bottom: 0px;}
.Embed-sec .puntosoc img{width: 30px;background: #252425;border-radius: 100px;}
/* Embed section styles end*/

/* Metrics section styles start*/
.metrics-sec ul.nav.nav-pills {
    background: #252425;
}
.metrics-sec-btn {
    float: right;
    margin-top: 12px
}
.metrics-sec-btn .createnew {
    background: #796aee;
    border: 1px solid #796aee;
    color: #ffffff !important;
    padding: 5px 13px;
    border-radius: 0px;
    font-weight: normal;
    cursor: pointer;
}
.font-si-12{font-size: 12px;}
.Headlines {
    padding: 30px;
}
.Headlines .Showme {
    font-size: 12px;
    color: #bababa;
}
.Headlines .Alltime {
    font-size: 12px;
    color: #fff;
    background: dimgrey;
    padding: 2px 5px;
    border-bottom: 2px solid #796aee;
}
.metrics-sec-btn .time-sacind {
    padding: 0px 20px;
}
.time-sacind span.time {
    font-size: 25px;
    color: #ffffff;
    border: 2px solid #796aee;
    padding: 3px 15px;
    margin-right: 15px;
    vertical-align: middle;
}
.time-sacind{padding: 0px 23px; padding-top: 10px;}
.time-sacind span.text {
    color: #bababa;
    width: 235px;
    display: inline-block;
    vertical-align: middle;
}
.total-view {
    margin: 35px 23px;
    border-top: 2px solid #696969;
    border-bottom: 2px solid #696969;
    display: flow-root;
    padding: 25px 75px;
}
.total-view span.number {
    font-size: 30px;
    color: white;
}
.total-view span.text {
    color: #bababa;
    font-size: 13px;
}
.total-view .one {
    width: 30%;
    display: inline-block;
    text-align: center;
    float: left;
}
.total-view .one hr {
    margin-top: 0;
    margin-bottom: 2px;
    border: 0;
    border-top: 3px solid rgb(255, 255, 255);
    margin-left: 15px;
    margin-right: 15px;
}
.total-view .two {
    width: 40%;
    display: inline-block;
    text-align: center;
    float: left;
}
.total-view .two hr {
    margin-top: 0;
    margin-bottom: 2px;
    border: 1px solid rgb(105, 105, 105);
    width: 0px;
    margin: auto;
    height: 70px;
}
.total-view .three {
    width: 30%;
    display: inline-block;
    text-align: center;
    float: right;
}
.total-view .three hr {
    margin-top: 0;
    margin-bottom: 2px;
    border: 0;
    border-top: 3px solid rgb(255, 255, 255);
    margin-left: 15px;
    margin-right: 15px;
}
.total-view-two {
    margin: 35px 23px;
    display: flow-root;
    padding: 0px 35px;
    margin-bottom: 20px;
}
.total-view-two .one {
    width: 30%;
    display: inline-block;
    float: left;
}
.total-view-two .one .a {
    width: 50%;
    display: inline-block;
    float: left;
}
.total-view-two span.number {
    font-size: 16px;
    color: white;
    width: 16px;
    display: inline-block;
    text-align: center;
    background: #252425;
    margin: 7px;
    box-shadow: 0px 2px 2px dimgrey;
    margin-bottom: 20px;
    margin-top: 0;
}
.total-view-two .one .bg-white{    
    width: 30px;
    height: 200px;
}
.total-view-two .one .b {
    width: 50%;
    display: inline-block;
}
.total-view-two .two {
    width: 15%;
    display: inline-block;
    text-align: center;
    float: left;
}
.total-view-two .three {
    width: 55%;
    display: inline-block;
    text-align: center;
    float: right;
}
.total-view-two .three span.number-c {
    width: 100px;
    font-size: 28px;
    border: 5px solid #bababa;
    border-radius: 100px;
    color: #fff;
    display: block;
    height: 100px;
    vertical-align: middle;
    text-align: center;
    margin: auto;
    padding: 26px;
}
span.number-c2 {
    width: 100px;
    font-size: 30px;
    border: none;
    border-radius: 100px;
    color: #fff;
    display: block;
    height: auto;
    vertical-align: middle;
    text-align: center;
    margin: auto;
}
.three .number-cricle label {
    margin-top: 8px;
    height: 50px;
}
.three .number-cricle .a {
    width: 39%;
    display: inline-block;
    float: left;
    text-align: center;
}
.three .number-cricle .b {
    width: 39%;
    display: inline-block;
    float: right;
    text-align: center;
}
.number-cricle hr {
    margin-top: 0;
    margin-bottom: 1rem;
    border: 0;
    border-top: 2px solid rgb(105, 105, 105);
    margin-left: 15px;
    margin-right: 15px;
}
sup {
    top: -.7em;
    color: #636363;
    font-size: 18px;
}
.total-view-two .two .bg-white {
    background-color: #fff!important;
    width: 30px;
    height: 3px;
    margin: auto;
}
.total-view-two .two .a {margin-top: 209px;}
/* Metrics section styles end*/

/* Metrics view section styles start*/
.View {
    padding: 0px 23px;
    margin-bottom: 20px;
}
.View .viewone {
    border-bottom: 2px solid #696969;
    margin-top: 35px;
    margin-bottom: 25px;
    }
.View .viewone p {
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}    
.View .chartview img {width: 90%;}
.View .radiosec p{
    width: auto; 
    display: inline-block;
    color: #bababa;
    font-size: 12px;
    margin-left: 15px;
    margin-right: 15px;
}
.View .radiosec p span.a b{
    background: white;
    display: inline-block;
    vertical-align: top;
    border-radius: 50px;
    padding: 4px;
}
.View .radiosec p span.a{
    border: 1px solid white;
    vertical-align: middle;
    border-radius: 100px;
    padding: 2px;
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-right: 5px;
}
.View .radiosec hr {
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    border-top: 3px solid white;
    width: 79px;
    margin: auto;
    display: inline-block;
    border-radius: 100px;
    vertical-align: middle;
}
.hr2{border-top: 3px solid #ddc100 !important;}
.hr3{border-top: 3px solid #796aee !important;}
/* Metrics view section styles end*/

/* Metrics Interactions section styles start*/
.Interactions {
    padding: 0px 23px;
    padding-top: 10px;
}
.Interactions .interactions-c {
    margin: auto;
    text-align: center;
}
.interactions-c  span.numb-c {
    display: block;
    font-size: 40px;
    color: white;
    border: 10px solid #bababa;
    border-radius: 100px;
    width: 150px;
    margin: auto;
    height: 150px;
    padding: 35px;
    vertical-align: middle;
}
.interactions-c  span.numb-c sup {
    top: -.7em;
    color: #636363;
    font-size: 25px;
}
.Interactions .interactions-c label{
    font-size: 16px;
    color: #bababa;
    margin-top: 10px;
}
.Interactions .total-view {
    margin: 35px 0px;
    border-top: none;
    border-bottom: none;
    display: flow-root;
    padding: 25px 0px;
}
.Interactions .total-view .one {
    width: 20%;
    display: inline-block;
    text-align: center;
    float: left;
}
.Interactions .total-view .two {
    width: 10%;
    display: inline-block;
    text-align: center;
    float: left;
}
.Interactions .total-view .three {
    width: 20%;
    display: inline-block;
    text-align: center;
    float: left;
}
.Interactions .total-view .fore {
    width: 10%;
    display: inline-block;
    text-align: center;
    float: left;
}
.Interactions .total-view .five {
    width: 20%;
    display: inline-block;
    text-align: center;
    float: left;
    background: #252425;
    border-radius: 100px;
    width: 97px;
    height: 97px;
    font-size: 12px;
    padding: 19px;
}
.Interactions .total-view .five p{
    vertical-align: middle;
    margin-bottom: 0;
    color: #bababa;
}
.Interactions .total-view .six {
    width: 20%;
    display: inline-block;
    text-align: center;
    float: left;
}
.Interactions .total-view .hrthre {
    margin-top: 0;
    margin-bottom: 2px;
    border: 1px solid rgb(105, 105, 105);
    width: 0px;
    margin: auto;
    height: 70px;
}
.Viewers {
    padding: 0px 23px;
    padding-top: 10px;
}
.Viewers iframe {
    width: 100%;
}
.Library-sec .navseacrh {
    border-border-bottom: 1px solid #a1a1a2 !important;
    width: 100%;
    padding-left: 15px;
    color: #a1a1a2;
    border: none;
}
.Studioed-three .metrics-sec .nav-pills {
    display: inline-flex;
    overflow-x: inherit;
    overflow-y: inherit;
    white-space: inherit;
    width: 100%;
    cursor: pointer;
}
.Studioed-three .metrics-sec .nav-pills li.nav-item {
    padding-bottom: 0;
}
/* Metrics Interactions section styles end*/

/* Library section styles start*/
.Library-sec .card {
    margin-bottom: 26px;
    box-shadow: none;
    border: none;
}
.card-body {
    padding: 0;
}
.card-body img {
    width: 100%;
}
.card-body .cappadd {
    padding: 10px 10px;
    border-radius: 0;
    background: #252425;
}
.card-body .cappadd h5 {
    font-size: .7rem;
    margin-bottom: 2px;
    color: white;
}
.card-body .title {
    color: #bababa;
    font-size: .6rem;
    margin-bottom: 0px;
}
.card-body .cappadd-bot {
    margin: 1px 0;
    margin-bottom: 0;
}
.card-close {
    position: absolute;
    bottom: 8px;
    right: 8px;
    top: auto;
}
.card-close .dropdown-toggle {
    color: #ffffff;
    background: no-repeat;
    border: none;
    font-size: 13px;
}
.card-body .cappadd-bot i{color: #ffffff;font-size: 13px;}
.card-close .dropdown-menu {
    border: none;
    min-width: auto;
    font-size: 0.9em;
    border-radius: 0;
    -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1), -2px -2px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1), -2px -2px 3px rgba(0, 0, 0, 0.1);
}
.card-close .dropdown-menu a {
    color: #999 !important;
}
.card-close .dropdown-menu a i {
    width: 15px;
    text-align: left;
    margin-right: 10px;
}
.card-close  hr {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.card-close .dropdown-toggle::after {
    display: none;
}
.Library-sec .col-lg-4 {
    /*padding-left: 6px;
    padding-right: 6px;*/
}
/* Library section styles end*/

/* tool section styles tart*/
.Studioed-section2 .tool-time  .seaech-upload form i {
    position: absolute;
    left: 15px;
    top: 10px;
    color: #a1a1a2;
}
.Studioed-section2 .tool-time .seaech-upload form input.form-control.navseacrh {
    height: 40px;
    width: 81%;
    color: #a1a1a2;
    border: none;
    background-color: #fff0;
    background-clip: padding-box;
    border-radius: 0;
    padding: .375rem 1.5rem;
    display: inline-block;
}
.Studioed-section2 .tool-time .seaech-upload form img{width: 20px;}
.Studioed-section2 .tool-time {
    padding: 0;
    margin-top: 0px;
}
.Studioed-section2 .tool {
    padding: 0;
    margin-top: 0px;
}
.Studioed-section2 .tool ul {
    padding: 0 15px;
    display: inline-flex;
    margin-bottom: 8px;
    margin-top: 8px;
}
.Studioed-section2 .tool .add-pop-show{float: right; padding: 0;}
.Studioed-section2 .tool .add-pop-show li {}
.Studioed-section2 .tool .add-pop-show li:nth-child(3) a{margin-right: 0;}
.Studioed-section2 .tool ul li a{
    padding: 4px 10px;
    margin-right: 5px;
    color: white;
    font-size: 14px;
}
.Studioed-section2 .tool ul li:hover a{
    background: #0101018c;
}
.Studioed-section2 .tool ul li a.active{
    background: #0101018c;
}
.Studioed-section2 .tool ul li a img{width: 18px;}
.Studioed-section2 ul.my-2.my-lg-0 {
    float: right;
    padding-top: 7px;
}
.Studioed-section2 ul.my-2.my-lg-0 li:nth-child(2) img {
    width: 60px;
}
.Studioed-section2 ul.my-2.my-lg-0 li:nth-child(6) a {
    background: #000;
    font-size:12px;
}
.Studioed-section2 .tool ul.my-2.my-lg-0 li:hover a {
    background: none !important;
}
.Studioed-section2 ul.my-2.my-lg-0 li a img {
    width: 15px;
}
.Studioed-section2 ul.my-2.my-lg-0 li a {
    padding: 4px 5px;
}
.Studioed-section2 .tool-time ul {
    padding: 0 15px;
    display: inline-flex;
    margin-bottom: 5px;
    margin-top: 5px;
}
.Studioed-section2 .tool-time ul li a {
    padding: 5px 15px;
    margin-right: 5px;
    color: white;
    font-size: 14px;
}
.Studioed-section2 .tool-time .col-sm-2 {
    background: #000;
}
.Studioed-section2 .tool-time ul li a img{width: 14px;}
.Studioed-section2 .timeline-img{padding-left: 0px;padding-right: 0;}
.Studioed-section2 .timeline-img img{width: 100%; margin-top: -2px; height: 23px;}

.Studioed-section2 .tool ul.navbar-nav{padding: 0 5px; flex-direction: row;margin: auto;}
.Studioed-section2 .tool ul.navbar-nav li{margin: 0;}
.Studioed-section2 .tool ul.navbar-nav li a{padding: 0;font-size: 12px;}
.Studioed-section2 .tool ul.navbar-nav li a::before {
    display: inline-block;
    padding-right: .5rem;
    color: #6c757d;
    content: "|";
    font-size: 26px;
    vertical-align: middle;
    display: none;
}
.Studioed-section2 .tool ul.navbar-nav li a img{width: 20px;}
.Studioed-section2 .tool ul.navbar-nav li a::after {
    display: inline-block;
    padding-left: .5rem !important;
    color: #6c757d;
    content: "|";
    font-size: 26px;
    vertical-align: middle;
    display: none !important;
}
.navbar ul.navbar-nav.my-2.my-lg-0{flex-direction: row;}
.navbar ul.navbar-nav.my-2.my-lg-0 {
    flex-direction: row;
    position: absolute;
    right: 5px;
    top: 5px;
}
.Studioed-section2 .tool ul.navbar-nav li:hover a{background: no-repeat;color: #ffffff;cursor: pointer;}
/* tool section styles end*/

/* Hot Spots collapse section styles start */
.panel-heading {
    padding: 0;
    border:0;
    background: #252425;
    margin-top: 2px;
}
.panel-heading  h4.panel-title {
    margin-bottom: 0;
}
.panel-title>a, .panel-title>a:active{
    display:block;
    padding: .4rem;
    color: #b0b0b0;
    font-size:12px;
    font-weight:normal;
    word-spacing:3px;
    text-decoration:none;
}
.panel-heading  a:before {
   font-family: 'FontAwesome';
   content: "\f054";
   float: left;
   transition: all 0.5s;
    margin-top: 7px;
}
.panel-heading#headingOne99 a:before{
    font-family: 'FontAwesome';
   content: "";
   float: left;
   transition: all 0.5s;
    margin-top: 7px;
    margin-right: 8px;
}
.panel-heading.active a:before {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
} 
.panel-title a span img {
    width: 25px;
    border: 1px solid #bababa;
    border-radius: 50px;
    margin-left: 6px;
}
.panel-title a span {
    width: 23.7%;
    display: inline-block;
    padding: 0 .4rem;
}
.panel-body {
    padding: 1rem;
    color: #b0b0b0;
}
.panel-body .container-fluid {padding: 0 !important;}
.panel-body .form-control {
    width: 100%;
    display: inline;
    background: #696969;
    border: none;
    border-bottom: 1px solid #bababa;
}
.panel-body .form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    color: #bababa;
    background-color: #252425;
    background-clip: padding-box;
    border: 1px solid #343a40;
    border-radius: 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-bottom: 1px solid #bababa;
    height: 33px;
}
.panel-body .createnew {
    background: #796aee;
    border: 1px solid #796aee;
    color: #ffffff !important;
    padding: 5px 8px;
    width: 100%;
    border-radius: 0px;
    font-weight: normal;
    cursor: pointer;
    font-size: 14px;
}
.createnew-top{margin-top: 31px;}
.panel-body .PAUSE-VIDEO a{font-size: 12px;color: #b0b0b0;margin-top: 7px; display: inline-block;}
/* Hot Spots collapse section styles end*/

/* create overlay section styles start*/
.createoverlay_head ul li a img {
    width: 16px;
}
.createoverlay_head ul li:nth-child(2) a img{width: 18px;}
input.SYNC {
    background: #d8d9da;
    border: 1px solid #d8d9da;
    color: #000;
    padding: 5px 25px;
    border-radius: 0px;
    font-weight: normal;
    cursor: pointer;
}
input.UPLOAD {
    background: #796aee;
    border: 1px solid #796aee;
    color: #ffffff;
    padding: 5px 25px;
    border-radius: 0px;
    font-weight: normal;
    cursor: pointer;
}
.createoverlay_head ul.navbar-nav li {
    margin: 0 5px;
}
.createoverlay_head .navbar-dark .navbar-nav .nav-link {font-size: 13px;}
.createoverlay_head nav.navbar.navbar-expand-md.bg-dark.navbar-dark {
    padding-left: 0;
}
.createoverlay_head .navbar-dark ul.navbar-nav.my-2.my-lg-0 li a img {
    width: 16px;
    border-radius: 0;
    vertical-align: -webkit-baseline-middle;
}
.createoverlay_page{background: #000;}
.createoverlay_page .logo-menu {
    width: 99px;
    background: #796aee;
}
.createoverlay-one {
    background: #252425;
    color: #ababab;
    padding: 0;
    text-align: center;
    flex: 0 0 4%;
    max-width: 4%;
    position: absolute;
    height: 100%;
    right: 0;
}
.createoverlay-one ul {
    padding: 0;
}
.createoverlay-one li {
    margin: 20px 0;
}
.createoverlay-one li:nth-child(1) {
    margin-top: 40px; 
}
.createoverlay-one ul li a img {
    width: 18px;
}
.createoverlay-two {
    background: #000;
    color: #ababab;
    padding: 73px;
    text-align: center;
    flex: 0 0 79.222222%;
    max-width: 79.222222%;
    position: absolute;
    right: 4%;
    height: 100%;
}
.createoverlay-two video{width: 70%;transform: translatey(calc((100% - 18vw) /2));}
.createoverlay-two img{width: 100%;}
.createoverlay-three {
    background: #252425;
    color: #ababab;
    padding: 0px;
    flex: 0 0 16.777777%;
    max-width: 16.777777%;
    position: absolute;
    height: 100%;
    left: 0;
}
.createoverlay-three form {
    padding: 15px;
}
.createoverlay-three .form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    color: #bababa;
    background-color: #252425;
    background-clip: padding-box;
    border: 1px solid #343a40;
    border-radius: 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-bottom: 1px solid #bababa;
    height: 33px;
}
.createoverlay-three label {
    font-size: 12px;
    color: #bababa;
}
.createoverlay-three .preview-btn{
    font-size: 12px;
    background: no-repeat;
    border: 1px solid #bababa;
    color: #bababa;
    padding: 4px 15px;
    cursor: pointer;
}
.createoverlay-three .sectiomtwo {
    background: #151515;
    padding: 0 .6rem;
}
.createoverlay-three .Layerslist .col-lg-6 {
    padding: 0 .6rem;
    margin-bottom: 15px;
}
.createoverlay-three .Layerslist form{padding: .6rem;}
.createoverlay-three .Layerslist form input.form-control {
    display: inline-block;
    width: 46%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    color: #bababa;
    background-color: #252425;
    background-clip: padding-box;
    border: 1px solid #343a40;
    border-radius: 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-bottom: 1px solid #bababa;
    height: 32px;
}
.createoverlay-three .Layerslist form input.UPLOAD {
    background: #796aee;
    border: 1px solid #796aee;
    color: #ffffff;
    padding: 6px 23px;
    border-radius: 0px;
    font-weight: normal;
    cursor: pointer;
    font-size: 12px;
    float: right;
    width: 46%;
}
.createoverlay-three .Layerslist ul li a {
    font-size: 12px;
    color: #bababa;
}
.createoverlay-three .Layerslist ul {
    padding: 0px;
    margin-bottom: 2rem;
}
.createoverlay-three .Layerslist ul li {
    margin: 0;
    padding: 0.2rem .6rem;
    border-bottom: 1px solid black;
}
.createoverlay-three .Layerslist ul li a span {
    float: right;
}
.createoverlay-three .Layerslist ul li a span .form-check-input {
    position: absolute;
    margin-top: .3rem;
    margin-left: -10px;
}
.createoverlay-three .Layerslist ul li a span img {
    width: 12px;
    margin-right: 18px;
    float: left;
    margin-top: 4px;
}
.createoverlay-three .Layerslist .card .card-body .cappadd{padding: 6px 6px;}
.createoverlay-three .Layerslist .card .card-body .cappadd h5{font-size: .6rem;}
.createoverlay-three .Layerslist .card .card-body .cappadd p{font-size: .5rem;}
.createoverlay-three .Layerslist .card{border-radius: 0px; border: none;}
.createoverlay-three .code-fram{width: auto; padding: 15px;border-bottom: 1px solid #dedede;}
.createoverlay-three .code-fram span {display: block;background: #717171;padding: 0px 10px;margin-top: 3px}
.createoverlay-three .code-fram .one {display: inline-block; font-size: 12px;}
.createoverlay-three .code-fram .two {display: inline-block; font-size: 12px;}
.createoverlay-three .code-fram .three {display: inline-block; font-size: 12px;float: right;margin-right: 4px;}
.createoverlay-three .code-fram .fore {display: inline-block; font-size: 12px;float: right;}
.createoverlay-three textarea#comment {height: 110px;color: #6c7274;}
.modal-body .nav-select-temp h5 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
}
.modal-body .nav-select-temp p {
    font-size: 14px;
    color: gray;
    margin-bottom: 0;
}
.modal-body .nav-select-temp ul.nav.nav-pills {
    padding-top: 0px;
    padding-bottom: 0px;
}
.modal-body .nav-select-temp ul.nav.nav-pills li {
    margin: 0 40px;
    width: auto;
}
.modal-body .nav-select-temp ul.nav.nav-pills li a {
    color: #a3a3a3;
    text-decoration: none;
    background-color: transparent;
    font-size: 14px;
    padding: 5px 10px;
}
.center-pabs{text-align: -webkit-center; margin: auto; display: -webkit-box;}
.modal-body .nav-select-temp .inlinediv{float: left;margin: 15px 0;}
.border-r-2{border-right: 2px solid lightgray;}
.modal-body .nav-select-temp .inlinediv#myDIV {
    margin-top: 0px;
}
.nav-select-temp button.close {
    /*position: absolute;
    right: 20px;
    top: 0px;*/
        padding: 0px 10px;
}
.modal-body .container-fluid{padding: 0px;}
.modal-body .body-select-temp{background: #eeeeee;padding: 20px 25px;padding-bottom: 15px;}
.modal-body .card {border: none !important;}
.modal-body .card-body .cappadd {background: #eeeeee;text-align: center; padding-top: 5px;}
.modal-body .card-body .cappadd h5 {font-size: .8rem;color: #676767;}
.modal-body .body-select-temp .tab-content {
    overflow: auto;
    height: 400px;
}
.modal-body .body-select-temp .tab-content .col-lg-4 {
    padding: 0 10px;
}
.modal-body .body-select-temp .tab-content {padding-right: 10px;}
.createoverlay_head ul.navbar-nav.ml-auto.mr-auto {margin-left: inherit !important;}
/* create overlay section styles end*/

/* Studio the modal popup section styles end*/
.side-hotspotsdesignbg {background: #252425;}
.side-hotspotsdesign {
    background: #252425;
    padding: 30px 15px;
    color: #dedede;
    padding-bottom: 15px;
}
.side-hotspotsdesign h5 {font-size: 17px;}
.side-hotspotsdesign hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgb(186, 186, 186);
    margin-left: 0;
    margin-right: 0;
}
.side-hotspotsdesign ul {
    padding: 0;
    display: flex;
    margin-bottom: 2rem;
}
.side-hotspotsdesign ul li {
    display: inline-block;
    width: auto;
    font-size: 14px;
}
.side-hotspotsdesign ul li img{margin-right: 10px;}
.side-hotspotsdesign .exampal{
    background: #545563; 
    width: 100%;
    text-align: center;
    padding: 10px;
    padding-top: 40px;
}
.side-hotspotsdesign .exampal .hoverbtn{
    background: #1a1723;
    border-radius: 4px;
    padding: 5px 10px;
    width: 100px;
    display: inline-block;
    text-align: left;
    color: #d0d0d0;
    font-weight: normal;
    font-size: 12px;
}
.side-hotspotsdesign .exampal .hoverbtn .form-check-input {
    position: absolute;
    margin-top: .3rem;
    margin-left: 1rem;
}

.side-hotspotsdesign .BOTTOMBTN input.SYNC {
    background: #d8d9da;
    border: 1px solid #d8d9da;
    color: #000;
    padding: 5px;
    border-radius: 0px;
    font-weight: normal;
    cursor: pointer;
    width: 85px;
    position: absolute;
    left: 30px;
    bottom: 15px;
    font-size: 12px;
}
.side-hotspotsdesign .BOTTOMBTN input.UPLOAD {
    background: #796aee;
    border: 1px solid #796aee;
    color: #ffffff;
    padding: 5px;
    border-radius: 0px;
    font-weight: normal;
    cursor: pointer;
    width: 85px;
    position: absolute;
    right: 30px;
    bottom: 15px;
    font-size: 12px;
}
.side-hotspotsdesign .CONFIGURE input.SYNC{
    margin-bottom: 100px;
    background: #d8d9da;
    border: 1px solid #d8d9da;
    color: #000;
    padding: 5px 20px;
    border-radius: 0px;
    font-weight: normal;
    cursor: pointer;
    font-size: 12px;
}
.standard-uploadbg .seaech-upload form i {
    position: absolute;
    left: 15px;
    top: 28px;
    color: #a1a1a2;
}
.standard-uploadbg input.form-control.navseacrh {
    height: 40px;
    width: 300px;
    color: #a1a1a2;
    border: none;
    background-color: #fff0;
    background-clip: padding-box;
    border-radius: 0;
    padding: .375rem 2.5rem;
    display: inline-block;
}
.standard-uploadbg button.close {
    position: absolute;
    right: 15px;
    top: 5px;
    color: #fff;
}
.standard-uploadbg .standard-upload-title {
    padding: 0 20px;
    color: #bababa;
    margin-bottom: 20px;
    margin-top: 10px;
    display: block;
}
.standard-uploadbg .standard-upload-title h5{
    color: #bababa;
    border-bottom: 1px solid #bababa;
    font-size: 14px;
        padding-bottom: 15px;
}
.standard-uploadbg div.icon {
    /*width: 66px;*/
    width: 23.6%;
    display: inline-block;
    margin: 1.5px;
    text-align: center;
    margin-bottom: 10px;
}
.standard-uploadbg div.icon img{width: 100%;}
.standard-uploadbg div.icon label {
    font-size: 12px; 
    color: #d8d8d8;
    white-space: nowrap;
    width: 66px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.standard-uploadbg div.icon:hover img {
    border: 2px solid #007bff;
}
.standard-uploadbg {
    background: #151515; 
    padding: 15px !important;
    overflow: auto;
    height: 565px;
}
.standard-upload {
    color: #dedede; 
    padding: 0 40px;
}
.standard-upload .alert {
    position: relative;
    padding: 0rem 0rem;
    margin-bottom: 1rem;
    border: 1px solid #ff000000;
    border-radius: .25rem;
    /*width: 95px;*/
    width: 21.8%;
    display: inline-block;
    margin-right: 11px;
}
.standard-upload .alert div.icon {
    width: 95px;
    display: inline-block;
    margin: -1px;
    text-align: center;
    margin-bottom: 10px;
}
.standard-upload .alert-dismissible .close {
    position: absolute;
    top: -15px;
    right: -10px;
    padding: 0rem 0rem;
    background: #0f3b62;
    border-radius: 100px;
    width: 30px;
    height: 30px;
    text-align: center;
    color: white;
    font-size: 30px;
}
#myDIV .nav-pills .active{border-bottom: 2px solid #796aee;}
#myDIV .nav-pills li a.active{border-bottom: none;}
/* Studio the modal popup section styles end*/

input.CRFR {
    margin-left: 5px;
}
.container-fluid.library {
    padding-left: 0px;
    padding-right: 0px;
}
.table-responsive.two.hotsportschild {
    padding-right: 0px;
}
.panel-title a span {
    width: 19%;
    display: inline-block;
    padding: 0 .4rem;
}
.table-responsive {
    display: block;
    width: 100%;
}
.tab-content>.tab-pane {
    display: block;
}
.fade:not(.show) {
    opacity: 1;
}
div#menu21 {
    padding-left: 0px;
    padding-right: 8px;
}


/* Editing Mode Studio Page */
span.toolss {
    display: inline-flex;
    float: right;
    margin-left: 5%;
}
.Studioed-section2 .tool ul {
    padding: 0 15px;
    display: inline-flex;
    margin-bottom: 8px;
    margin-top: 8px;
    padding-left: 0px;
}
.logo-menu2{
        width: 110px;
        height: 45px;
    
}
.col_publish{
    padding-left: 0px;
}
body.studio_page {
    line-height: 1.5;
}
.toolstimes {
    height: 40px;
}